<ion-content color="primary" padding class="center" translucent>
  <ion-row style="align-content: center; height: 100%; display: flex;">
    <ion-col style="text-align: -webkit-center;">
      <ion-img src="./../../assets/imagotipo-01.png" style="width: 270px; height: 270px; "></ion-img>
      <ion-text style="width: 365px; height: 46px; overflow: hidden; white-space: pre-wrap; 
                       word-wrap: break-word; word-break: break-word; font-weight: 100; 
                       font-family: Inter-Thin; color: #ffffff; 
                       font-size: 36px; letter-spacing: 0px; line-height: 1.2;">
        <h1>¡BIENVENIDO SHOPPER!</h1>
      </ion-text>

      <ion-row>
        <ion-col style="text-align: -webkit-center;">
          <ion-button size='default' fill="solid" shape="round" color='secondary'
            style="overflow: hidden;  white-space: pre-wrap;
                     word-wrap: break-word; word-break: break-word; font-weight: 100;
                     font-family: 'Inter-Thin'; color: #ffffff;font-size: 30px;letter-spacing: 3px;  line-height: 1.2;">
            ENTRAR
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row style="text-align: -webkit-center;">
        <ion-col>
          <ion-text style="flex-shrink: 0;  overflow: hidden; white-space: pre-wrap;
                           word-wrap: break-word; word-break: break-word; font-weight: 400;
                           font-family: 'Inter-Thin'; color: #ffffff; font-size: 20px; letter-spacing: 0px;
                           line-height: 1.2; text-decoration: underline;">
            Iniciar sesión
          </ion-text>
        </ion-col>
      </ion-row>
<!--       <ion-text style="text-align:center" color="primary">
        <h3>O accesar con</h3>
      </ion-text>

      <ion-row style="justify-content:center">
        <ion-col size="2">
          <ion-avatar (click)="onClickFacebook()">
            <img src="../../assets/facebook.png">
          </ion-avatar>
        </ion-col>

        <ion-col size="2">
          <ion-avatar (click)="googleSignIn()">
            <img src="../../assets/email.png">
          </ion-avatar>
        </ion-col>
      </ion-row> -->
    </ion-col>
  </ion-row>
