<ion-tabs color="primary" >

<!--   <ion-tab-bar slot="bottom" color="primary" >
    <ion-tab-button tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Ofertas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="bag-handle-outline"></ion-icon>
      <ion-label>Comercios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="custom-tab">
    <ion-label>Cupones</ion-label>
    <ion-icon name="bag-handle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>En mi area</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Mis gustos</ion-label>
    </ion-tab-button>
(click)="goToPictures()"
  </ion-tab-bar> -->

  
    <ion-fab vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button>
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
    </ion-fab>
  
  <ion-tab-bar slot="bottom" class="ion-no-border" >
    <ion-tab-button tab="tab-encounters">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab-conversations" class="comments">
      <ion-icon name="bag-handle-outline"></ion-icon>
      <!-- <ion-badge *ngIf="new_message">{{new_message}}</ion-badge> -->
    </ion-tab-button>

    <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>

    <ion-tab-button tab="tab-notifications" class="notifs">
      <ion-icon name="location-outline"></ion-icon>
      <!-- <ion-badge *ngIf="new_activities">{{new_activities}}</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="tab-profile">
      <ion-icon name="star-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
