  preload-image > ion-spinner img {
    width:100% !important;
  }
  
  preload-image img {
    width:100% !important;
  }
  .slide-img-padding{
    padding: 40px;
  }
  
* {
  font-family: 'Arial';
}

